html {scroll-behavior: smooth;}

body {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../images/banner.jpg");
	background-size: auto, cover;
	background-position: 50%, 50%;
    background-attachment: fixed;
}


